openapi: 3.1.0

# The committed HTTP contract for muse. FastAPI generates a document from the code at
# /openapi.json, and `exposes.api` in cafaye.yml points at this file — so the two
# exist side by side and can drift.
#
# `tests/test_openapi.py` is the mechanism that stops them: it asserts every path,
# status code and schema here against the running app, in both directions. A field
# added to a response model without being added here fails the suite, and so does an
# endpoint added here that the app does not serve.
#
# Conventions followed, from core's docs/openapi-conventions.md:
#   * every path under a single /v1 prefix
#   * info.version present, and it moves when the document does
#   * every non-2xx is application/problem+json (RFC 9457) with a reserved `code`
#   * X-Trace-Id echoed in the header and the body
#   * W3C `traceparent` accepted and echoed (packet muse-03; PLAN §7)
#   * bearer auth stated in the security scheme
#
# The probe endpoints are deliberately absent. They are infrastructure, not contract:
# guard and any orchestrator reach them by convention, and documenting them would put
# /healthz under the /v1 rule it does not belong under. They are in the README.

info:
  title: muse
  version: 1.1.0
  summary: LLM routing, credentials vault, and token metering for cafaye.
  description: |
    muse routes a chat completion to the first provider that can serve it, holds
    provider credentials encrypted at rest, and emits a `muse.tokens.consumed` event
    for every completion it serves.

    A caller asks for a *model* — a name in this service's `config/routes.yaml` — and
    never learns which vendor answered. That indirection is the point: it is what
    lets a request fall through to a second provider when the first is rate limited or
    down, and it is why a caller cannot pin a request to a vendor.

    ## What this version does not do

    * No streaming. Every response is a complete completion.
    * No tool calls. A provider response with null content is reported as an error
      rather than as empty text.
    * No embeddings, no images, no batches.
    * **The bearer token is verified**, and a valid signature is not on its own an
      authorization: the token must also carry the `completions:write` capability and
      an `account_id`. See the `bearerAuth` scheme below for the full list.

    ## Errors

    Every non-2xx response is `application/problem+json` with a `code` from cafaye's
    reserved list. The codes this service returns:

    | Code | Status | When |
    | --- | --- | --- |
    | `unauthorized` | 401 | The credential is absent, malformed, unverified, expired, or carries no `account_id`. |
    | `forbidden` | 403 | The token verified and does not carry `completions:write`. |
    | `not_found` | 404 | No route is configured for the requested model. |
    | `validation_failed` | 422 | The request body is not a valid route request. |
    | `unavailable` | 503 | Every candidate provider for the route failed, **or** identity's signing keys could not be retrieved. |
    | `internal` | 500 | muse failed. The body says nothing further; `trace_id` is the handle. |

    A 503 means this service is up and something it depends on is not — the models, or
    `identity`. A distinction a client needs, because it is the one where retrying the
    *same* request is worthwhile.

    ## Cost and metering

    Every served completion emits a `muse.tokens.consumed` event containing the model,
    the provider that actually served it, the token counts and `cost_micros` (integer
    micro-dollars). The response repeats `cost_micros` so a caller can reconcile
    against its own records without subscribing to the bus.

    If that event cannot be written, the request fails. The completion has already
    been paid for, and returning it without its record would lose the spend silently.
  license:
    name: MIT
    identifier: MIT
    url: https://opensource.org/license/mit
  contact:
    name: muse
    email: muse@cafaye.com

servers:
  - url: https://muse.cafaye.com
    description: Production.
  - url: http://localhost:8000
    description: Local development.

tags:
  - name: llm
    description: Routing a chat completion to a provider.

security:
  - bearerAuth: []

paths:
  /v1/route:
    post:
      tags: [llm]
      operationId: routeCompletion
      summary: Route a chat completion
      description: |
        Serves a completion from the first candidate that succeeds for the named
        route, in the order `config/routes.yaml` lists them. A transient failure is
        retried with exponential backoff; a permanent one advances immediately. If
        every candidate fails, the whole chain is reported in one 503.

        The caller does not choose a provider. That is what makes the fallback chain
        possible, and it is why a request cannot be pinned to a vendor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequest'
            examples:
              single-turn:
                summary: One user message
                value:
                  model: fast
                  messages:
                    - role: user
                      content: Summarise this in one sentence.
              multi-turn:
                summary: A conversation, oldest first
                value:
                  model: smart
                  max_tokens: 512
                  temperature: 0.2
                  messages:
                    - role: system
                      content: You are terse.
                    - role: user
                      content: What is an outbox pattern?
                    - role: assistant
                      content: A table written in the same transaction as the state.
                    - role: user
                      content: Why does that matter?
      parameters:
        - name: traceparent
          in: header
          required: false
          description: |
            W3C trace context to continue. When present and well formed, muse joins
            that trace and propagates the context to the provider. When absent or
            malformed, muse starts a new trace — a broken correlation header is never
            an error, because it must not be able to fail a customer's request.
          schema:
            type: string
            pattern: '^[0-9a-f]{2}-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$'
          example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
      responses:
        '200':
          description: A completion. One `muse.tokens.consumed` event was emitted.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            traceparent:
              $ref: '#/components/headers/Traceparent'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
              examples:
                completion:
                  summary: A served completion
                  value:
                    id: chatcmpl-9f2c1a4b7e0d3f8a5c6b2e1d
                    object: chat.completion
                    created: 1798849200
                    model: gpt-4o-mini
                    provider: openai
                    route: fast
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: An outbox table, written in the same transaction.
                        finish_reason: stop
                    usage:
                      prompt_tokens: 12
                      completion_tokens: 8
                      total_tokens: 20
                    cost_micros: 7
                    trace_id: 0af7651916cd43dd8448eb211c80319c
        '401':
          description: |
            The credential is absent, malformed, signed by a key `identity` does not
            publish, expired, or missing a claim core requires — including
            `account_id`.

            The `detail` names *which* check failed and never a claim's value: a
            `problem+json` body is among the most-read copies of anything this service
            writes, and a token's contents are the caller's credential.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            traceparent:
              $ref: '#/components/headers/Traceparent'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                absent:
                  summary: No credential at all
                  value:
                    type: https://errors.cafaye.com/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: a bearer credential is required
                    instance: /v1/route
                    code: unauthorized
                    trace_id: 0af7651916cd43dd8448eb211c80319c
                unverifiable:
                  summary: A forged or expired token
                  value:
                    type: https://errors.cafaye.com/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: token has expired
                    instance: /v1/route
                    code: unauthorized
                    trace_id: 0af7651916cd43dd8448eb211c80319c
                no-tenant:
                  summary: A valid token with no account
                  value:
                    type: https://errors.cafaye.com/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: token carries no account_id; muse meters per tenant, so a
                      request whose cost cannot be attributed is refused
                    instance: /v1/route
                    code: unauthorized
                    trace_id: 0af7651916cd43dd8448eb211c80319c
        '403':
          description: |
            The token verified and does not carry `completions:write`. **This is the
            status that makes "a valid signature is not an authorization" observable** —
            a correctly signed token with no scope lands here.

            The `detail` names the scope this service requires, which is its own
            configuration and safe to name. The scopes the caller *does* hold are not
            echoed back: a 403 that listed them would tell an attacker which of a
            guessed set is real.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            traceparent:
              $ref: '#/components/headers/Traceparent'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://errors.cafaye.com/forbidden
                title: Forbidden
                status: 403
                detail: token is missing the completions:write scope
                instance: /v1/route
                code: forbidden
                trace_id: 0af7651916cd43dd8448eb211c80319c
        '404':
          description: No route is configured for the requested model.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            traceparent:
              $ref: '#/components/headers/Traceparent'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://errors.cafaye.com/not_found
                title: Not found
                status: 404
                detail: no route is configured for model 'gpt-5-turbo'
                instance: /v1/route
                code: not_found
                trace_id: 0af7651916cd43dd8448eb211c80319c
        '405':
          description: The path exists but not for this method. A completion costs
            money, so it is POST-only and there is nothing safe to serve on a GET.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            traceparent:
              $ref: '#/components/headers/Traceparent'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: |
            The request body is not a valid route request. `errors[]` lists each
            offending field.

            A malformed JSON body is also a 422 rather than a 400: cafaye's
            `validation_failed` code is a documented 422, and a 400 carrying it would
            be a code whose status disagrees with the reserved list.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            traceparent:
              $ref: '#/components/headers/Traceparent'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://errors.cafaye.com/validation_failed
                title: Validation failed
                status: 422
                detail: 'messages.0.role: Input should be ''user'', ''assistant'' or ''system'''
                instance: /v1/route
                code: validation_failed
                trace_id: 0af7651916cd43dd8448eb211c80319c
                errors:
                  - field: messages.0.role
                    code: literal_error
        '500':
          description: |
            muse failed. The body carries no detail beyond the code and the trace id;
            the log line does. This includes a failure to record the completion's
            usage, which is deliberately not swallowed — the completion was paid for
            and returning it without its metered record would lose the spend.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            traceparent:
              $ref: '#/components/headers/Traceparent'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://errors.cafaye.com/internal
                title: Internal error
                status: 500
                detail: an unexpected error occurred
                instance: /v1/route
                code: internal
                trace_id: 0af7651916cd43dd8448eb211c80319c
        '503':
          description: |
            muse is up and something it depends on is not. Two distinct causes, and a
            client can tell them apart by whether the request reached the providers:

            * **Every candidate for the route failed.** `detail` names each provider,
              the error class, and how many attempts it took.
            * **`identity`'s signing keys could not be retrieved.** The request never
              reached a provider, because muse could not check the credential. **muse
              does not serve unauthenticated traffic when identity is down.** The
              `detail` is a fixed string; the URL that failed, the status it answered
              and the parser's complaint are in the log.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            traceparent:
              $ref: '#/components/headers/Traceparent'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                providers-down:
                  summary: Every candidate failed
                  value:
                    type: https://errors.cafaye.com/unavailable
                    title: Service unavailable
                    status: 503
                    detail: >-
                      every candidate for model 'fast' failed —
                      openai/gpt-4o-mini: ProviderTimeout (after 3 attempts);
                      anthropic/claude-haiku-4-5: ProviderAuthError
                    instance: /v1/route
                    code: unavailable
                    trace_id: 0af7651916cd43dd8448eb211c80319c
                identity-down:
                  summary: The signing keys could not be retrieved
                  value:
                    type: https://errors.cafaye.com/unavailable
                    title: Service unavailable
                    status: 503
                    detail: the signing keys at
                      https://identity.cafaye.com/.well-known/jwks.json could not be
                      retrieved
                    instance: /v1/route
                    code: unavailable
                    trace_id: 0af7651916cd43dd8448eb211c80319c

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-required-scopes:
        route: [completions:write]
      description: |
        An RS256 JWT issued by `identity`, verified locally against its published
        JWKS. Keys are cached by `kid` with a bounded TTL, so `identity` is never on
        the hot path.

        **RS256 only**, pinned in one constant and passed to the verifier rather than
        read from the token. `alg: none`, HS256 and ES256 are refused on the
        *protected header*, before any key is fetched — so a forged token costs no
        network call and never aims traffic at `identity`. core's conventions also
        allow ES256; widening is a one-line change and belongs with the moment
        `identity` publishes ES256 keys.

        Required claims: `iss` (this service's configured issuer), `aud` (muse's own
        client id), `sub`, `exp`, `iat`, `jti`, and `account_id`. `jti` is required
        because it is the claim that makes a token individually revocable: a service
        that ignores it is accepting a class of token the issuer believes it can
        withdraw.

        ### The capability this operation requires

        **`completions:write`**, and a valid signature is not on its own an
        authorization. A correctly signed token that carries no scope is `403`. The
        check is exact-match, never prefix-match.

        The claim's *shape* is a space-separated string — the one shape both core's
        conventions and RFC 8693 agree on. The claim's *name* is an **open platform
        decision** and this service accepts either, because `identity` currently mints
        both and nobody has ruled: core's `docs/openapi-conventions.md` requires
        `scopes`, and `guard` reads `scope`. **A token carrying both names where they
        disagree is refused** rather than merged, preferred or unioned — a token whose
        two authorisation claims contradict each other is a token this service does not
        understand, and guessing which one the issuer meant is how an escalation about a
        claim name becomes a cross-tenant read. An absent claim is the empty set, never
        everything.

        The string `completions:write` is likewise provisional. It follows the
        `resource:action` shape core documents and names this service's own surface,
        and it lives in one constant. This document does not add a scope namespace to
        core's conventions; that is a decision for the platform, not for one service.

        ### Tenancy

        `account_id` is required and is the tenancy boundary, read from the verified
        token and from nowhere else. A token without one is refused, because muse
        bills and meters per tenant and a request whose cost cannot be attributed is a
        request nobody can charge for. The safe behaviour is the strict one while the
        fleet-wide question is open: the alternative — defaulting to `sub` — makes a
        user id a tenancy key.

        ### When identity is unavailable

        **`503`, not `401`, and never `200`.** A 401 tells the caller their credential
        is bad, and the problem is that this service could not *check* it — which sends
        a caller with a perfectly good token to re-authenticate against a healthy
        identity and then retry forever.

        **muse does not serve unauthenticated traffic when identity is down.** The
        request is refused rather than admitted on an unverified credential: the
        alternative is a service whose only protection against a forged token is
        whether the token's issuer happened to be reachable at that moment.

        No cookies: core allows bearer JWTs only for API traffic.

  headers:
    TraceId:
      description: |
        The request's trace id, echoed from the request when it looked like an
        opaque token and minted otherwise. Also in the response body, and the two
        always agree — support starts from this value.
      required: true
      schema:
        type: string
        pattern: '^[A-Za-z0-9_-]{8,64}$'
      example: 0af7651916cd43dd8448eb211c80319c

    Traceparent:
      description: |
        The W3C trace context (https://www.w3.org/TR/trace-context/) for this
        request, naming muse's own span.

        Send one to join an existing trace: muse continues that trace id, and its
        provider calls propagate the context onward to the vendor. A malformed or
        absent header starts a new trace — never a 400, and never an exception,
        because a correlation header must not be able to fail a request.
        `X-Trace-Id` is unchanged and remains the packet-02 correlation id.

        Omitted entirely when no tracing is configured.
      required: false
      schema:
        type: string
        pattern: '^[0-9a-f]{2}-[0-9a-f]{32}-[0-9a-f]{16}-[0-9a-f]{2}$'
      example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01

  schemas:
    Role:
      type: string
      enum: [system, user, assistant]
      description: OpenAI's set, which is a superset of what the vendors need.

    Message:
      type: object
      additionalProperties: false
      required: [role, content]
      properties:
        role:
          $ref: '#/components/schemas/Role'
        content:
          type: string
          minLength: 1
          description: |
            The message text. Must not be empty: an empty message is never what a
            caller meant, and accepting it turns a client bug into a billed response
            with no content.

    RouteRequest:
      type: object
      additionalProperties: false
      required: [model, messages]
      properties:
        model:
          type: string
          minLength: 1
          description: |
            A route name from this service's `config/routes.yaml` — currently `fast`
            and `smart`. Not a vendor model id: which vendor serves it is this
            service's decision, and letting a caller name one would defeat the
            fallback chain.
          examples: [fast, smart]
        messages:
          type: array
          minItems: 1
          description: The conversation, oldest message first. Order is significant.
          items:
            $ref: '#/components/schemas/Message'
        max_tokens:
          type: integer
          minimum: 1
          description: |
            A cap on the response. Omitted means the provider's default. A null is
            not sent to the provider at all — some vendors reject it.
        temperature:
          type: number
          minimum: 0
          maximum: 2
          description: Sampling temperature, passed through unchanged.

    Choice:
      type: object
      additionalProperties: false
      required: [index, message, finish_reason]
      properties:
        index:
          type: integer
          const: 0
          description: Always 0. `n > 1` is not supported in this version.
        message:
          type: object
          additionalProperties: false
          required: [role, content]
          properties:
            role:
              type: string
              const: assistant
            content:
              type: string
        finish_reason:
          type: string
          description: |
            Why the model stopped. `stop` means it finished; `length` means it was
            cut off at `max_tokens`. A caller that cannot tell those apart will treat
            a truncated answer as a complete one.
          examples: [stop, length]

    Usage:
      type: object
      additionalProperties: false
      required: [prompt_tokens, completion_tokens, total_tokens]
      properties:
        prompt_tokens:
          type: integer
          minimum: 0
        completion_tokens:
          type: integer
          minimum: 0
        total_tokens:
          type: integer
          minimum: 0
          description: The sum of the two, computed by this service rather than
            reported, so a provider that reports them inconsistently cannot make the
            three disagree.

    RouteResponse:
      type: object
      additionalProperties: false
      required:
        [id, object, created, model, provider, route, choices, usage, cost_micros, trace_id]
      properties:
        id:
          type: string
          description: |
            This service's identifier for the completion. Not the provider's own id:
            a caller's fallback chain produces one id for one request, whatever
            vendor ended up serving it.
        object:
          type: string
          const: chat.completion
        created:
          type: integer
          description: Unix seconds, for compatibility with OpenAI-shaped clients.
        model:
          type: string
          description: The vendor's model id that actually served the request.
        provider:
          type: string
          description: |
            The vendor that served it. Present so an operator can reconcile against a
            provider's invoice; a caller does not need it to make a decision, because
            the next request may be served by a different one.
        route:
          type: string
          description: |
            The route that was used — the name the caller asked for. Distinct from
            `model`, and it stays meaningful when a fallback changes vendor.
        choices:
          type: array
          minItems: 1
          maxItems: 1
          items:
            $ref: '#/components/schemas/Choice'
        usage:
          $ref: '#/components/schemas/Usage'
        cost_micros:
          type: integer
          minimum: 0
          description: |
            The cost of this completion in micro-dollars (1 USD = 1,000,000 micros).
            An integer, never a float: a float that rounds differently on two machines
            is a reconciliation bug nobody can reproduce. This is the same value the
            `muse.tokens.consumed` event carries.
        trace_id:
          type: string
          description: Matches the `X-Trace-Id` response header.

    FieldError:
      type: object
      additionalProperties: false
      required: [field, code]
      properties:
        field:
          type: string
          description: Dotted path to the offending field, e.g. `messages.0.role`.
        code:
          type: string
          description: The validator's code for this failure.

    Problem:
      type: object
      description: RFC 9457 problem details, with cafaye's extensions.
      additionalProperties: false
      required: [type, title, status, detail, instance, code, trace_id]
      properties:
        type:
          type: string
          format: uri
          description: |
            Stable, machine-readable: `https://errors.cafaye.com/<code>`. The last
            segment is always the same slug as `code`.
        title:
          type: string
          description: |
            A fixed human-readable summary for the code. It may be reworded without a
            version bump, so do not parse it.
        status:
          type: integer
          description: The HTTP status code, repeated in the body for a log.
        detail:
          type: string
          description: |
            Specific to this occurrence, and not parsed by clients. For a 503 it names
            each provider that was tried, the error class, and the attempt count.
        instance:
          type: string
          description: The path that was requested.
        code:
          type: string
          enum:
            - unauthorized
            - forbidden
            - not_found
            - conflict
            - validation_failed
            - rate_limited
            - internal
            - unavailable
          description: |
            cafaye's reserved error code. The enum is the subset this service
            returns; the full reserved list includes codes a gateway returns instead.
        trace_id:
          type: string
          description: Always present, and always equal to the `X-Trace-Id` header.
        errors:
          type: array
          description: Per-field failures. Present only on a 422.
          items:
            $ref: '#/components/schemas/FieldError'
